* {
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
    letter-spacing: 1.4px;
}

body {
    margin: 0;
}

#root {
    padding: 0 10px;
    min-height: 100vh;
    background-image: url('./assets/img/card-bg.gif');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main {
    flex-grow: 1;
}

main .scoreboard {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

main .scoreboard > p {
    padding: 8px 16px;
    border-radius: 8px;
    border: 3px solid white;
    background-color: rgb(255, 0, 0);
    color: white;
}

main .gameboard {
    display: flex;
    /* grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); */
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    padding: 10px 0;
}

main .gameboard .card {
    background-image: url('./assets/img/card-bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 14px;
    overflow: hidden;
    width: 220px;
    height: 280px;
    display: flex;
    transition: 100ms ease-in-out;
}

main .gameboard .card:hover {
    transform: translateY(-14px) rotate(-3deg) scale(103%);
    box-shadow: 3px 3px 8px rgb(80, 80, 80);
}

main .card > button {
    padding: 0 4px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    width: 100%;
}

main .card .card-head {
    display: flex;
    justify-content: space-between;
}

main .card .card-head > p {
    margin: 0;
    /* background-color: rgb(60, 115, 255); */
    color: white;
    text-shadow: 0 0 6px black;
    font-weight: 600;
    font-size: 1.2rem;
}
main .card .card-head > p:first-child {
    border-radius: 0 0 10px 0;
    padding: 8px 10px;
}
main .card .card-head > p:nth-child(2) {
    border-radius: 0 0 0 10px;
    padding: 8px 10px;
}

main .card .card-head .pokemon-name {
    text-transform: capitalize;
}

main .gameboard .card img {
    width: 100%;
}